# License server origin used by the built (production) frontend.
# Leave empty for local dev — the Vite proxy in vite.config.js forwards /api to
# the license server (default http://localhost:8001), so requests stay same-origin.
#
# For a production build, point this at the deployed license server, e.g.:
#   VITE_LICENSE_API_URL=https://license.example.com
#
# NOTE: setting this makes the admin UI a CROSS-ORIGIN client of the license
# server, so the server must be told to trust this UI's origin — set
# CORS_ORIGINS on the license server to the origin serving this UI, e.g.
#   CORS_ORIGINS=["https://license-admin.example.com"]
# Leaving VITE_LICENSE_API_URL empty (the default, and what
# deploy/docker-compose.license.yml ships) keeps everything same-origin behind
# nginx, where no CORS configuration is needed at all.
VITE_LICENSE_API_URL=
