# License server origin used by the built (production) frontend.
# Leave empty for local dev — the Vite proxy in vite.config.js forwards /api to
# the license server (default http://localhost:8001), so requests stay same-origin.
#
# For a production build, point this at the deployed license server, e.g.:
#   VITE_LICENSE_API_URL=https://license.example.com
VITE_LICENSE_API_URL=
